:root {
  --font-body: var(--font-outfit);
  --font-alt: var(--font-syne);

  --background: #ffffff;
  --foreground: #171717;

  --accent: #ca1a2e;

  --switch-track: #f3532e;
  --switch-thumb: #fff;

  --mobile-nav-bg: #ededed;
  --mobile-nav-active: #ca1a2e;

  --button-muted: #636363;

  --transparent-bg: rgba(255, 255, 255, 0.5);

  --underline-gradient: linear-gradient(190deg, #f34424, #fdbe44);
}

[data-theme="dark"] {
  --background: #161a1e;
  --foreground: #ededed;

  --switch-track: #006573;
  --switch-thumb: #9afff4;

  --mobile-nav-bg: #0f1317;
  --mobile-nav-active: #08c6b6;

  --button-muted: #747474;

  --transparent-bg: rgba(255, 255, 255, 0.5);

  --underline-gradient: linear-gradient(190deg, #56e0dc, #328c96);
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--font-body), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  font-size: clamp(15px, 1.25vw, 18px);
}

.scroll-container {
  height: calc(100vh - 79px);
  margin-top: 79px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-bottom: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// Headings
h1,
h2,
h3,
h4 {
  font-family: var(--font-body), sans-serif;
  font-weight: 600;
  margin: 0 0 1rem;
  line-height: 1.2;
}

h1 {
  font-size: clamp(36px, 5vw, 48px);
}

h2 {
  font-size: clamp(32px, 5vw, 36px);
}

h3 {
  font-size: clamp(24px, 4vw, 28px);
}

h4 {
  font-size: clamp(20px, 3vw, 24px);
}

p {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 300;
  margin: 0 0 1rem;
}

p.small {
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.8;
}

.syne {
  font-family: var(--font-alt), sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
