.contentContainer {
  width: 100%;
  padding: 9rem 6rem 4rem 50%;
  display: flex;
  //display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  opacity: 0;
  animation: fadeInContent 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  max-width: 390px;
  p {
    font-size: 16px;
  }
}

:global(.about) {
  .hexCardOne {
    --x: 410px;
    --y: 262px;
    z-index: 1;
  }
  .hexCardTwo {
    --x: 395px;
    --y: 78px;
    z-index: 5;
  }

  .hexCardThree {
    --x: 395px;
    --y: 208px;
    z-index: 3;
  }

  .hexCardFour {
    --x: 430px;
    --y: 35px;
    z-index: 4;
  }

  .hexCardFive {
    z-index: 6;
  }

  .hexCardSix {
    --x: 430px;
    --y: 315px;
    z-index: 2;
  }

  .hexCardSeven {
    --x: 348px;
    --y: 142px;
    z-index: 3;
  }

  .hexCardEight {
    --x: 442px;
    --y: 142px;
    z-index: 3;
  }

  .hexCardNine {
    --x: 410px;
    --y: 50px;
    z-index: 3;
  }
}

@media (max-width: 1080px) {
  .content {
    max-width: 350px;
  }
}

@media (max-width: 754px) {
  .contentContainer {
    padding: 23rem 2rem 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content {
    max-width: 450px;
  }

  :global(.about) {
    .hexCardOne {
      --x: 306px;
      --y: 156px;
      z-index: 1;
    }
    .hexCardTwo {
      --x: 460px;
      --y: 142px;
      z-index: 5;
    }

    .hexCardThree {
      --x: 396px;
      --y: 95px;
      z-index: 3;
    }

    .hexCardFour {
      --x: 575px;
      --y: 175px;
      z-index: 4;
    }

    .hexCardSix {
      --x: 288px;
      --y: 175px;
      z-index: 2;
    }

    .hexCardSeven {
      --x: 396px;
      --y: 190px;
      z-index: 3;
    }

    .hexCardEight {
      --x: 330px;
      --y: 142px;
      z-index: 3;
    }

    .hexCardNine {
      --x: 515px;
      --y: 157px;
      z-index: 3;
    }
  }
}

@media (max-width: 500px) {
  .contentContainer {
    padding: 30rem 2.4rem 4rem;
  }

  :global(.about) {
    .hexCardOne {
      --x: 410px;
      --y: 262px;
      z-index: 1;
    }
    .hexCardTwo {
      --x: 395px;
      --y: 78px;
      z-index: 5;
    }

    .hexCardThree {
      --x: 395px;
      --y: 208px;
      z-index: 3;
    }

    .hexCardFour {
      --x: 430px;
      --y: 35px;
      z-index: 4;
    }

    .hexCardFive {
      z-index: 6;
    }

    .hexCardSix {
      --x: 430px;
      --y: 315px;
      z-index: 2;
    }

    .hexCardSeven {
      --x: 348px;
      --y: 142px;
      z-index: 3;
    }

    .hexCardEight {
      --x: 442px;
      --y: 142px;
      z-index: 3;
    }

    .hexCardNine {
      --x: 410px;
      --y: 50px;
      z-index: 3;
    }
  }
}
