:global(.connect) {
  .hero {
    top: 120px;
  }
  .hexGrid {
    transform: scale(0.95);
  }

  .hexCard {
    &:hover {
      .cardFlipWrapper {
        transform: none;
      }
    }
  }

  .front {
    &::before {
      content: "";
      transform: rotate(0deg);
    }
  }
}

html[data-theme="dark"] .connect .front::before {
  background-image: url("/images/hex-dark-fill.svg");
  filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.5));
}

@media (max-width: 763px) {
  :global(.connect) {
    .hero {
      top: 160px;
    }
    .hexGrid {
      transform: scale(0.7);
    }
    .front {
      &::before {
        content: "";
        transform: rotate(30deg);
      }
    }
  }
}
