.hero {
  position: relative;
  z-index: 1;
  top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0 2rem;
  text-align: center;

  .description {
    opacity: 0.8;
    margin-bottom: 0;
  }
}

.hexGrid {
  width: 1040px;
  position: relative;
  transition: width 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.hexContainer {
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.hexCard {
  min-width: 100px;
  height: 300px;
  position: absolute;
  z-index: 1;
  transform: translate(var(--x), var(--y));
  perspective: 1000px;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);

  .cardInner {
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
  }

  &:hover {
    z-index: 11;

    .cardFlipWrapper {
      transform: rotateY(180deg);
    }
  }
}

.cardFlipWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.cardInner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  transform-origin: center center;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--foreground);
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    transition: transform 0.5s ease;
    background-image: url("/images/hex-light.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
    transform: rotate(var(--hex-rotation, 0deg));
    //transform: rotate(30deg);
    transition: transform 0.5s ease-in-out;
  }
}

[data-theme="dark"] .front,
[data-theme="dark"] .back {
  &::before {
    background-image: url("/images/hex-dark.svg");
  }
}

.front {
  z-index: 2;
  padding: 1.5rem 2.5rem 2rem;

  .icon {
    display: flex;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: var(--foreground);
  }

  .keyword {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 500;
    span {
      display: block;
    }
  }

  .image {
    opacity: 0;
    width: 88.5%;
    height: 95%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .hexMask {
      width: 100%;
      height: 100%;
      clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
      -webkit-clip-path: polygon(
        50% 0%,
        93% 25%,
        93% 75%,
        50% 100%,
        7% 75%,
        7% 25%
      );
      transform: rotate(calc(30deg + var(--hex-rotation, 0deg)));
      transition: transform 0.5s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transform: rotate(calc(-30deg - var(--hex-rotation, 0deg)));
      transition: transform 0.5s ease-in-out;
    }
  }
}

.back {
  transform: rotateY(180deg);
  font-size: 0.95rem;
  line-height: 1.4rem;
  padding: 0 2.4rem;
  span {
    display: block;
  }
  .icon {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: var(--foreground);
  }
}

// === hex overrides ===

.hexCardOne {
  --x: 57px;
  --y: 156px;
}

.hexCardTwo {
  --x: 183px;
  --y: 41px;
}

.hexCardThree {
  --x: 183px;
  --y: 243px;
  z-index: 2;
}

.hexCardFour {
  --x: 430px;
  --y: -54px;
}

.hexCardFive {
  --x: 355px;
  --y: 105px;
}

.hexCardSix {
  --x: 430px;
  --y: 402px;
}

.hexCardSeven {
  --x: 607px;
  --y: 41px;
  z-index: 3;
}

.hexCardEight {
  --x: 607px;
  --y: 243px;
  z-index: 3;
}

.hexCardNine {
  --x: 770px;
  --y: 156px;
}

.hexCardOne,
.hexCardNine {
  min-width: 220px;
  height: 203px;
  .cardInner {
    .front {
      .icon {
        font-size: 1.7rem;
      }
    }
  }
}

.hexCardTwo,
.hexCardThree,
.hexCardSeven,
.hexCardEight {
  min-width: 250px;
  height: 231px;
  .cardInner {
    .front {
      .keyword {
        font-size: 1.15rem;
        min-height: 24px;
      }
    }
  }
}

.hexCardTwo {
  z-index: 4;
  .cardInner {
    .front {
      .icon {
        font-size: 2rem;
      }
    }
  }
}

.hexCardFour,
.hexCardSix {
  min-width: 180px;
  height: 166px;
  z-index: 2;
  .cardInner {
    .front {
      .icon {
        font-size: 1.5rem;
      }
      .keyword {
        font-size: 1rem;
      }
    }
    .back {
      font-size: 0.8rem;
      line-height: 1.1rem;
      .icon {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.hexCardFive {
  min-width: 330px;
  height: 305px;
  z-index: 5;

  .cardInner {
    .front {
      padding: 1rem 2rem 2rem;
      .icon {
        font-size: 2.4rem;
      }
      .keyword {
        font-size: 1.4em;
        line-height: 2rem;
        span {
          display: block;
        }
      }
    }
    .back {
      font-size: 1.1rem;
      padding: 1rem 3rem 2rem;
      line-height: 1.6rem;
      .icon {
        font-size: 1.7rem;
      }
    }
  }
}

// === global page styles ===

:global(.about) .hexContainer {
  transform: translate(-200px, -80px);
  @media (max-width: 754px) {
    transform: translate(0px, -180px);
  }
  @media (max-width: 500px) {
    transform: translate(0px, -120px);
  }
}

.hexCard {
  &:hover {
    .cardFlipWrapper {
      :global(.about) & {
        transform: none;
      }
    }
  }
}

.hexCardFive {
  .cardInner {
    .front {
      :global(.about) & {
        padding: 0;
      }
    }
  }
}

.image {
  opacity: 0;

  :global(.about) & {
    animation: fadeIn 1.8s ease forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 754px) {
  .front::before {
    :global(.about) & {
      transform: rotate(calc(30deg + var(--hex-rotation, 0deg)));
    }
  }
  .front {
    .image {
      .hexMask {
        :global(.about) & {
          transform: rotate(var(--hex-rotation, 0deg));
        }
      }

      img {
        :global(.about) & {
          transform: rotate(calc(-1 * var(--hex-rotation, 0deg)));
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .front::before {
    :global(.about) & {
      transform: rotate(var(--hex-rotation, 0deg));
    }
  }
  .front {
    .image {
      .hexMask {
        :global(.about) & {
          transform: rotate(calc(30deg + var(--hex-rotation, 0deg)));
        }
      }

      img {
        :global(.about) & {
          transform: rotate(calc(-30deg - var(--hex-rotation, 0deg)));
        }
      }
    }
  }
}

// === grid wave flip ===

// .cardInner {
//   :global(.home) & {
//     transform: rotateY(90deg);
//     animation: flipIn 0.8s ease forwards;
//     animation-fill-mode: forwards;
//   }
// }

// :global(.home) .hexCard:nth-child(1) .cardInner {
//   animation-delay: 0.1s;
// }
// :global(.home) .hexCard:nth-child(2) .cardInner {
//   animation-delay: 0.2s;
// }
// :global(.home) .hexCard:nth-child(3) .cardInner {
//   animation-delay: 0.3s;
// }
// :global(.home) .hexCard:nth-child(4) .cardInner {
//   animation-delay: 0.4s;
// }
// :global(.home) .hexCard:nth-child(5) .cardInner {
//   animation-delay: 0.5s;
// }
// :global(.home) .hexCard:nth-child(6) .cardInner {
//   animation-delay: 0.6s;
// }
// :global(.home) .hexCard:nth-child(7) .cardInner {
//   animation-delay: 0.7s;
// }
// :global(.home) .hexCard:nth-child(8) .cardInner {
//   animation-delay: 0.8s;
// }
// :global(.home) .hexCard:nth-child(9) .cardInner {
//   animation-delay: 0.9s;
// }

// @keyframes flipIn {
//   from {
//     transform: rotateY(90deg);
//   }
//   to {
//     transform: rotateY(0deg);
//   }
// }

// === Decorative hex wrappers ===

.hexagonWrapper {
  position: relative;
  width: 272px;
  height: 272px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagonBorder {
  width: 272px;
  height: 272px;
  background: var(--accent);
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hexagon {
  width: 270px;
  height: 270px;
  background: var(--background);
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  position: relative;
  z-index: 1;
}

.background::after,
.heroBackground::after {
  content: "";
  position: fixed;
  z-index: 0;
  pointer-events: none;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: contain;
}

.background::after {
  bottom: 0;
  right: 0;
  width: 1440px;
  height: 721px;
  background-image: url("/images/landing-bg-light.png");
  background-position: bottom right;
}

[data-theme="dark"] .background::after {
  opacity: 0.3;
  background-image: url("/images/landing-bg-dark.png");
}

.heroBackground::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  background-image: url("/images/area-bg-light.png");
  background-position: left 81px;
}

[data-theme="dark"] .heroBackground::after {
  opacity: 0.3;
  background-image: url("/images/area-bg-dark.png");
}

@media (max-width: 945px) {
  .front,
  .back {
    &::before {
      transform: rotate(var(--hex-rotation, 30deg));
      //transform: rotate(30deg);
    }
  }
  .hexCardOne {
    --x: 182px;
    --y: 156px;
  }

  .hexCardTwo {
    --x: 260px;
    --y: -30px;
  }

  .hexCardThree {
    --x: 260px;
    --y: 314px;
  }

  .hexCardFour {
    --x: 430px;
    --y: -65px;
    z-index: 6;
  }

  .hexCardSix {
    --x: 430px;
    --y: 414px;
    z-index: 6;
  }

  .hexCardSeven {
    --x: 530px;
    --y: -30px;
  }

  .hexCardEight {
    --x: 530px;
    --y: 314px;
  }

  .hexCardNine {
    --x: 638px;
    --y: 156px;
  }
}

@media (max-width: 754px) {
  :global(.about) .hexGrid {
    transform: scale(0.85);
  }
}

@media (max-width: 670px) {
  .hero {
    top: 8rem;
  }
  .hexGrid {
    transform: scale(0.85);
  }
}

@media (max-width: 600px) {
  .hero {
    top: 13rem;
  }

  :global(.about) .hero {
    top: 8rem;
  }
  // :global(.about) .hexGrid {
  //   transform: scale(1);
  // }

  .hexGrid {
    transform: scale(0.75);
  }

  .hexCardOne {
    --x: 409px;
    --y: 520px;
  }

  .hexCardTwo {
    --x: 293px;
    --y: -70px;
  }

  .hexCardThree {
    --x: 293px;
    --y: 354px;
    z-index: 4;
  }

  .hexCardFour {
    --x: 624px;
    --y: 173px;
    z-index: 2;
  }

  .hexCardSix {
    --x: 238px;
    --y: 173px;
    z-index: 2;
  }

  .hexCardSeven {
    --x: 496px;
    --y: -70px;
  }

  .hexCardEight {
    --x: 496px;
    --y: 355px;
  }

  .hexCardNine {
    --x: 409px;
    --y: -208px;
  }
}
